/* @import url("https://use.fontawesome.com/releases/v5.0.8/css/regular.css");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"); */


/***
 * TYPOGRAPHY
 ***/

html,
body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-size: 100%;
}

h1,
h2,
h3 {
    font-weight: 200;
    text-decoration: none;
    color: #40064e;
    line-height: 1.15;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0
}

h2 {
    font-size: 2rem;
    margin: 1.34rem 0
}

h3 {
    font-size: 1.5rem;
    margin: 1.245rem 0;
}

a,
.a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:hover .a,
a:focus,
a:focus .a {
    color: #23527c;
    text-decoration: underline;
}

.a {
    text-transform: uppercase
}


/***
 * MAIN NAVIGATION
 ***/

header {
    box-shadow: 0 0 8px rgba(0, 0, 0, .12), 0 -2px 8px rgba(0, 0, 0, .24)
}

#logo {
    width: 160px;
    height: 50px;
    margin-right: 1rem;
}

.navbar-inverse {
    background-color: #085ba7;
    border-color: #085ba7;
}

.navbar-default {
    background-color: #FFF;
    border: none;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #FFF;
}


/* Fix loss of drop shadow by overriding DocFX "static"*/

@media only screen and (max-width: 768px) {
    header {
        position: relative;
    }
}

.icon-bar {
    transition: 0.4s;
}

[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    /* Rotate first bar */
    transform: rotate(-45deg) translate(-4px, 5px);
}

[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    /* Fade out the second bar */
    opacity: 0;
}

[aria-expanded="true"] .icon-bar:nth-of-type(4) {
    /* Rotate last bar */
    transform: rotate(45deg) translate(-4px, -5px);
}

.collapse.in,
.collapsing {
    text-align: unset;
}


/***
 * SIDE NAVIGATION
 ***/

.sidefilter {
    background-color: #FFF;
    padding: 15px 0;
    border: none;
}

.toc-filter {
    border-radius: 0;
    background: #FFF;
    color: inherit;
    padding: 0;
    position: relative;
    margin: 0;
}

.toc-filter>input {
    border: 1px solid #dcdcdc;
    color: inherit;
    font-size: .875rem;
    height: 36px;
    line-height: 1.8;
    padding: 0 10px 0 20px;
}

.toc-filter>input:focus {
    outline: #3b99fc solid 1px;
}

.sidetoc {
    background-color: #FFF;
    border: none;
}

.toc {
    margin: 0;
    padding: 0;
}

.toc ul {
    font-size: inherit;
    margin: 0;
}


/* Prevent double scroll bar */

body .toc {
    background-color: #FFF;
    overflow-x: initial;
}

.toc .level1>li {
    font-weight: bold;
    margin-top: 2px;
    position: relative;
    font-size: 15px;
}

toc .nav>li>a {
    font-weight: normal;
    color: inherit;
    padding: 5px 0 0 15px;
    margin: 0;
}

.toc .nav>li>.expand-stub::before,
.toc .nav>li.active>.expand-stub::before,
.toc .nav>li.filtered>.expand-stub::before {
    /*DOCFX selectors far too specific!*/
    content: "\f054"!important;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 9px;
    font-size: .75rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toc .nav>li.active>.expand-stub::before {
    color: #FFF;
}

.toc .nav>li.in>.expand-stub::before,
.toc .nav>li.in.active>.expand-stub::before,
.toc .nav>li>.expand-stub.in::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toc a {
    font-weight: normal;
}

.toc .nav>li>a {
    padding: 5px 5px 5px 18px;
    margin: 0;
}

.toc .nav .level2 a {
    padding-left: 5px;
}

.toc .nav>li>a:hover,
.toc .nav>li>a:focus {
    color: #23527c;
    text-decoration: underline;
}

.toc .nav>li.in.active>a:hover,
.toc .nav>li.in.active>a:focus {
    color: #FFF;
    background-color: #e30183;
    text-decoration: none;
}

.toc .nav>li.active>a {
    color: #fff;
    background-color: #40064e;
}


/***
 * API ARTICLE
 ***/

article span.small.pull-right {
    /* The styling for these is mental and causes odd offsets all over the place*/
    display: none;
}

article{
    line-height: 1.6;
}

article h4 {
    border-bottom: none;
}

.code-like,
code,
kbd,
pre,
samp {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

pre {
    word-break: unset;
    word-wrap: unset;
    overflow-x: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}


/***
 * AFFIX NAVIGATION
 ***/

.contribution a::before {
    /*Edit*/
    content: "\f044";
}

.contribution li+li a::before {
    /*Github*/
    content: "\f09b";
}

.sideaffix>div.contribution>ul>li>a.contribution-link {
    font-weight: normal;
    text-transform: uppercase;
}

.affix ul>li.active>a {
    color: #337ab7;
}

.affix .level2>li.active>a {
    text-decoration: underline;
}

.affix ul ul>li>a:before {
    content: "";
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: underline;
}


/***
 * FONTAWESOME
 ***/

.expand-stub,
.contribution a {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.expand-stub::before,
.contribution a::before {
    margin-right: 4px;
    font-family: "Font Awesome\ 5 Free", "Font Awesome\ 5 Brands";
}