name: Linting
on: [push]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@master
      with:
        files: articles/.
      env:
        # Required
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
